<!DOCTYPE html>
<html>
<head>
	<title> Micronate - Start a Project </title>
</head>

<body>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Discover</a></li>
		<li><a href="#">Start a project</a></li>
		<li><a href="#">Profile</a></li>
	</ul>

	<img src="../assets/images/circular_template.jpg" alt="cause1" style="width:228px;height:228px">
	<form name="input" method="get">
		Change Image: <input type="text" name="cause1">
		<input type="button" value="Upload">
	</form>

	<form>
	Location: <input type="text" name="locaiton"><br>
	Goal: <input type="text" name="goal"><br>
	Deadline: <input type="text" name="deadline"><br>
	Description:
	<textarea rows="4" cols="50"></textarea><br><br>
	<form action="">
		<input type="button" value="Start Campaign!">
	</form>
</body>
</html>