<!DOCTYPE html>
<html>
<head>
	<title> Micronate - Explore </title>
</head>

<body>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Discover</a></li>
		<li><a href="#">Start a project</a></li>
		<li><a href="#">Profile</a></li>
	</ul>

	<h2> Cause 1 </h2>
	<h5> by Josh </h5>
	<img src="images/circular_image.jpg" alt="cause1" style="width:228px;height:228px">
	<p> <b>Location</b>: Basel</p>
	<p> <b>Goal</b>: 100CHF       <b>Reached</b>: 200CHF <b>Deadline</b>: October 30, 2014 </p>
	<h3> Short Description</h3>
	<p> Last week the chemistry class got damages by an explosion caused during an experiment. We need to buy materials for the laboratory asap, in order to continue the classes without delays. </p>
	<form action="">
		<input type="button" value="Donate">
	</form>
	<p> ---------------------------------------------------------------------- </p>
	<h2> Cause 2 </h2>
	<h5> by Christian </h5>
	<img src="images/circular_image.jpg" alt="cause2" style="width:228px;height:228px">
	<p> <b>Location</b>: Zurich</p>
	<p> <b>Goal</b>: 100CHF       <b>Reached</b>: 500CHF <b>Deadline</b>: October 30, 2014 </p>
	<h3> Short Description</h3>
	<p> 200 students are locked in a big building for the weekend. Food and drinks are required for them to survive. Help them survive!</p>
	<form action="">
		<input type="button" value="Donate">
	</form>
	<p> ---------------------------------------------------------------------- </p>
</body>
</html>