<!doctype html>
<html>
	<head>
		<title>Micronate</title>
		
		<!--<base href="//micronate.org/">-->
		<base href="//localhost/micronate/">
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Micronate, donations, social projects, HackZurich" />
		<meta name="description" content="Micronate is a donation platform creating a direct link between donors and social projects." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name='HandheldFriendly' content='True'>
		<meta name='MobileOptimized' content='320'>
		
		<meta name='language' content='en'>
		<meta name='robots' content='index,follow'>
		<meta http-equiv='Expires' content='0'>
		
		<link href='assets/scss/style.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="./assets/favicon.png" type="image/png" />
	</head>
	<body>
		<div class="frame full-width full-height bg-darker-grey landing parallax">
			<div class="vcenter">
				<div class="center text-white" id="title-content">
					<h1 class="text-center text-xxhuge container center vmargin-medium">
						<span class="text-orange">m</span><span class="text-turquois">N</span>
					</h1>
					<p class="text-center text-xxlarge container center vmargin-medium">
						Micronate. Making donating <span class="text-orange">simple</span> and <span class="text-turquois">transparent</span>.
					</p>
					
					<p class="text-center text-xlarge container center vmargin-medium">
						<strong>
							<span class="text-turquois">Make a difference.</span> 
							<span class="text-orange">Start donating now.</span>
						</strong>
					</p>
					<p class="text-center text-xlarge container center vmargin-medium"><strong>Questions?</strong> <a href="mailto:hello@micronate.org">hello@micronate.org</a>.</p>
					<p class="text-center text-large container center vmargin-medium">
						<strong>Get notified when Micronate goes live!</strong> 
					</p>
					<div class="text-center text-large container center vmargin-medium">
						<form action="//frederique-mittelstaedt.us7.list-manage.com/subscribe/post?u=f47f10fce426c99ffa453f764&amp;id=04f49f440a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						    <input class="text-black hpadding-small vpadding-small" style="border: none;" type="email" placeholder="Your e-mail address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
							<div style="position: absolute; left: -5000px; display: inline-block;">
								<input type="text" name="b_f47f10fce426c99ffa453f764_04f49f440a" tabindex="-1" value="" style="">
							</div>
							<input type="submit" value="Notify me!" name="subscribe" id="mc-embedded-subscribe" class="button bg-orange hpadding-small vpadding-small" style="appearance: none; border: none; display: inline-block;">

						</form>
					</div>
				</div>
				<footer class="bottom frame vpadding-small">
					<p class="text-left text-white text-center container center">
						Copyright &copy; by Micronate 2014. <a target="_blank" href="https://twitter.com/MicronateOrg" class="text-orange">@MicronateOrg</a>. Crafted with love at <a target="_blank" href="http://www.hackzurich.com/14">HackZurich 2014</a>. Image © Pro Juventute. 
					</p>
				</footer>
			</div>
		</div>

		<script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#signup-action-button").click(function(e){
					e.preventDefault();
					$("#signup-form").css("opacity",0).removeClass("invisible").fadeIn(400);
				});
			});
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-55652701-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
