<!DOCTYPE html>
<html>
<head>
	<title> Micronate - My Profile </title>
</head>

<body>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Discover</a></li>
		<li><a href="#">Start a project</a></li>
		<li><a href="#">Profile</a></li>
	</ul>

	<h3> Fred Smith </h3>
	<p> <b>Location</b>: Basel &nbsp; &nbsp; <img src="../assets/images/edit.jpg" alt="edit"></p>
	<p> <b>Email</b>: fred.smith@gmail.com &nbsp; &nbsp; <img src="../assets/images/edit.jpg" alt="edit"></p>
	<p> <b>Balance</b>: 23 CHF <form action=""> <input type="button" value="Donate Now!"></form>
	</p>

	<img src="../assets/images/circular_person.jpg" alt="person1" style="width:228px;height:150px">
	<form name="input" method="get">
		Change Image: <input type="text" name="user">
		<input type="button" value="Upload">
	</form>

	<h3> Payment Information </h3> 
	<form>	
		<b>Address</b>
		Address*: <input type="text" name="street"><br>
		Address: <input type="text" name="street2"><br>
		Town/City*:  <input type="text" name="city"><br>
		Country*:  <input type="text" name="country"><br>
		Postcode/zip*:  <input type="text" name="postcode"><br><br>
		
		<b>Telephone number</b>
		Mobile*: <input type="number" name="telephone"><br>
		Alternative:  <input type="text" name="alternative"><br><br>
		
		<b>Payment Card </b>
		Full Name (as given in bank account): <input type="text" name="fullname"><br>
		Card Number: <input type="text" name="lastname"><br>
		CCV: <input type="text" name="ccv"><br>
	</form>

	<p>or</p><br>
	<p><b>Address</b> &nbsp; &nbsp; <img src="../assets/images/edit.jpg" alt="edit"></p>
	<p><b>Address</b>: 4th Baselstrasse</p>
	<p><b>Town/City</b>: Basel</p>
	<p><b>Country</b>: Switzerland</p>
	<p><b>Postcode/zip</b>: 00301</p>
	<br>
	<p><b>Telephone Number</b>&nbsp; &nbsp; <img src="../assets/images/edit.jpg" alt="edit"></p>
	<p><b>Mobile Number</b>: 534634623</p>
	<p><b>Alternative</b>: </p>
	<br>
	<p><b>Payment Card</b> &nbsp; &nbsp; <img src="../assets/images/edit.jpg" alt="edit"></p>
	<p><b>Full Name</b> (as given in bank account):</p>
	<p><b>Card Number</b>: ************1234</p>
	<p><b>CCV</b>: ***</p>
	<br>

<h3> Causes I contribute </h3>
<h4> Cause 1 </h4> 
<img src="../assets/images/circular_image.jpg" alt="cause1" style="width:100px;height:100px">
<h4> Cause 2 </h4> 
<img src="../assets/images/circular_image.jpg" alt="cause2" style="width:100px;height:100px">

</body>
</html>