<!DOCTYPE html>
<html>
<head>
	<title> Micronate - Registration From </title>
</head>

<body>

<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">Discover</a></li>
  <li><a href="#">Start a project</a></li>
  <li><a href="#">Profile</a></li>
</ul>

<h3> Personal Information </h3>
<form action="signup" method="POST">
	First name: <input type="text" name="firstname"><br>
	Last name: <input type="text" name="lastname"><br>
	Username: <input type="text" name="username"><br>
	Email: <input type="text" name="email"><br>
	Password: <input type="password" name="pwd"><br>
	Re-type Password: <input type="password" name="pwd"><br>
	Location:<input type="text" name="location"><br>

	<input type="submit" value="Register">
</form>


</body>
</html>
