// General styles

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	@include transition(all 0.1s ease-in-out 0s);
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	/* real browsers */
	height: auto !important;
	/* real browsers */
	height: 100%;
}

// Clearfix

.clear {
	@include clearfix;
}

// Text alignment

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

// Block alignment

.center {
	float: none !important;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

// Visibility

.hidden {
	display: none;
}

.invisible {
	visibility: "hidden";
}

// Container sizing

.frame {
	display: table;
	width: 100%;
	padding-top: 1.618rem;
	padding-bottom: 1.618rem;
}

.full-height {
	display: table;
    height: 100vh;
    min-height: 100vh;
}

.vcenter {
	height: 100%;
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	max-width: 100vw;
	max-height: 100vh;
}

.compact {
	display: inline-block;
}

// Scrolling-Enabler (for fixed and absolute blocks)

.y-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.x-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.x-scroll.y-scroll {
	overflow-y: scroll;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

// Parallax-Background effect

.parallax {
	background-attachment: fixed;
	background-position: center center;
}

// Sticky bottom

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

// General styles based on config config

// Background color styles
.bg-yellow {
	background-color: $yellow;
}
.bg-orange {
	background-color: $orange;
}
.bg-red {
	background-color: $red;
}
.bg-darkred {
	background-color: $darkred;
}
.bg-turquois {
	background-color: $turquois;
}
.bg-white {
	background-color: $white;
}
.bg-lighter-grey {
	background-color: $lighter-grey;
}
.bg-light-grey {
	background-color: $light-grey;
}
.bg-medium-grey {
	background-color: $medium-grey;
}
.bg-dark-grey {
	background-color: $dark-grey;
}
.bg-darker-grey {
	background-color: $darker-grey;
}
.bg-black {
	background-color: $black;
}

// Text color styles
.text-yellow {
	color: $yellow;
}
.text-orange {
	color: $orange;
}
.text-red {
	color: $red;
}
.text-darkred {
	color: $darkred;
}
.text-turquois {
	color: $turquois;
}
.text-white {
	color: $white;
}
.text-lighter-grey {
	color: $lighter-grey;
}
.text-light-grey {
	color: $light-grey;
}
.text-medium-grey {
	color: $medium-grey;
}
.text-dark-grey {
	color: $dark-grey;
}
.text-darker-grey {
	color: $darker-grey;
}
.text-black {
	color: $black;
}

// Fonts and Font sizes

body {
	font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
	font-size: 100%;
	line-height: 1.618;
}

.text-xsmall {
	font-size: 0.618em;
	line-height: grid-line-height(0.618em, 1.2);
}
.text-small {
	font-size: 0.927em;
	line-height: grid-line-height(0.927em, 1.2);
}
.text-large {
	font-size: 1.5em;
	line-height: grid-line-height(1.5em, 1.2);
}
.text-xlarge {
	font-size: 1.618em;
	line-height: grid-line-height(1.618em, 1.2);
}
.text-xxlarge {
	font-size: 2.427em;
	line-height: grid-line-height(2.427em, 1.2);
}
.text-huge {
	font-size: 3.927em;
	line-height: grid-line-height(3.927em, 1.2);
}
.text-xhuge {
	font-size: 4.236em;
	line-height: grid-line-height(4.236em, 1.2);
}
.text-xxhuge {
	font-size: 6.354em;
	line-height: grid-line-height(6.354em, 1.2);
}
