// General styles

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	@include transition(all 0.1s ease-in-out 0s);
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	/* real browsers */
	height: auto !important;
	/* real browsers */
	height: 100%;
}

// Clearfix

.clear {
	@include clearfix;
}

// Text alignment

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

// Block alignment

.center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

// Visibility

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

// Container sizing

.frame {
	display: table;
	width: 100%;
	padding-top: 1.618rem;
	padding-bottom: 1.618rem;
}

.full-height {
	display: table;
    height: 100vh;
    min-height: 100vh;
}

.third-height{
	display: table;
    height: 30vh;
    max-height: 30vh;
    min-width: 100vw;
}


.vcenter {
	height: 100%;
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	max-width: 100vw;
	max-height: 100vh;
}

.compact {
	display: inline-block;
}

//Main Site Boxes

.main-element{
    width: 15vw;
    height: 15vw;
    text-decoration: none;
    padding-right: 40px;
    float: left;
}

//button
.button{
	text-decoration: none;
	border: none;
	margin-top: 0.618rem;
	margin-bottom: 0.618rem;
}

//Credential-box
.credentials-box{	
	min-width: 20vw;
	min-height: 20vh;
	max-width: 20vw;
	max-height: 20vh;
	float: left;
}




.field{
	width: 100%;
	margin-top: 0.618rem;
	margin-bottom: 0.618rem;
}

// Scrolling-Enabler (for fixed and absolute blocks)

.y-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.x-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.x-scroll.y-scroll {
	overflow-y: scroll;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

// Parallax-Background effect

.parallax {
	background-attachment: fixed;
	background-position: center center;
}

// Sticky bottom

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

// General styles based on config config

// Background color styles
.bg-yellow {
	background-color: $yellow !important;
}
.bg-orange {
	background-color: $orange !important;
}
.bg-red {
	background-color: $red !important;
}
.bg-darkred {
	background-color: $darkred !important;
}
.bg-turquois {
	background-color: $turquois !important;
}
.bg-white {
	background-color: $white !important;
}
.bg-lighter-grey {
	background-color: $lighter-grey !important;
}
.bg-light-grey {
	background-color: $light-grey !important;
}
.bg-medium-grey {
	background-color: $medium-grey !important;
}
.bg-dark-grey {
	background-color: $dark-grey !important;
}
.bg-darker-grey {
	background-color: $darker-grey !important;
}
.bg-black {
	background-color: $black !important;
}

// Text color styles
.text-yellow {
	color: $yellow !important;
}
.text-orange {
	color: $orange !important;
}
.text-red {
	color: $red !important;
}
.text-darkred {
	color: $darkred !important;
}
.text-turquois {
	color: $turquois !important;
}
.text-white {
	color: $white !important;
}
.text-lighter-grey {
	color: $lighter-grey !important;
}
.text-light-grey {
	color: $light-grey !important;
}
.text-medium-grey {
	color: $medium-grey !important;
}
.text-dark-grey {
	color: $dark-grey !important;
}
.text-darker-grey {
	color: $darker-grey !important;
}
.text-black {
	color: $black !important;
}



// Fonts and Font sizes

.text-xsmall {
	font-size: 0.618em;
	line-height: grid-line-height(0.618em, 1.2);
}
.text-small {
	font-size: 0.927em;
	line-height: grid-line-height(0.927em, 1.2);
}
.text-large {
	font-size: 1.5em;
	line-height: grid-line-height(1.5em, 1.2);
}
.text-xlarge {
	font-size: 1.618em;
	line-height: grid-line-height(1.618em, 1.2);
}
.text-xxlarge {
	font-size: 2.427em;
	line-height: grid-line-height(2.427em, 1.2);
}
.text-huge {
	font-size: 3.927em;
	line-height: grid-line-height(3.927em, 1.2);
}
.text-xhuge {
	font-size: 4.236em;
	line-height: grid-line-height(4.236em, 1.2);
}
.text-xxhuge {
	font-size: 6.354em;
	line-height: grid-line-height(6.354em, 1.2);
}

// Distances

.hpadding-small {
	padding-left: $small-distance;
	padding-right: $small-distance;
}
.hpadding-medium {
	padding-left: $medium-distance;
	padding-right: $medium-distance;
}
.hpadding-large {
	padding-left: $large-distance;
	padding-right: $large-distance;
}

.vpadding-small {
	padding-top: $small-distance;
	padding-bottom: $small-distance;
}
.vpadding-medium {
	padding-top: $medium-distance;
	padding-bottom: $medium-distance;
}
.vpadding-large {
	padding-top: $large-distance;
	padding-bottom: $large-distance;
}

.hmargin-small {
	margin-left: $small-distance;
	margin-right: $small-distance;
}
.hmargin-medium {
	margin-left: $medium-distance;
	margin-right: $medium-distance;
}
.hmargin-large {
	margin-left: $large-distance;
	margin-right: $large-distance;
}

.vmargin-small {
	margin-top: $small-distance;
	margin-bottom: $small-distance;
}
.vmargin-medium {
	margin-top: $medium-distance;
	margin-bottom: $medium-distance;
}
.vmargin-large {
	margin-top: $large-distance;
	margin-bottom: $large-distance;
}
