// Colors

$yellow: hsb(47,49,92);
$orange: hsb(9,68,85);
$red: hsb(351,79,76);
$darkred: hsb(337,58,33);
$turquois: hsb(184,33,48);

$white: #FFFFFF;
$lighter-grey: hsb(9,5,95);
$light-grey: hsb(9,5,80);
$medium-grey: hsb(9,5,65);
$dark-grey: hsb(9,5,40);
$darker-grey: hsb(9,5,20);
$black: #111111;

$base-line-height: 1.618;


